vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
.phpunit.result.cache
.phpunit.cache
.php-cs-fixer.cache
tests
phpstan.neon
phpunit.xml
.git
.gitignore
.editorconfig
README.md
